Package: libmpdec-doc
Source: mpdecimal
Version: 2.4.2-2
Architecture: all
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 451
Breaks: libmpdec-dev (<< 2.4.0-7)
Replaces: libmpdec-dev (<< 2.4.0-7)
Section: doc
Priority: optional
Homepage: http://www.bytereef.org/mpdecimal/index.html
Description: library for decimal floating point arithmetic (documentation)
 mpdecimal is a package for correctly-rounded arbitrary precision decimal
 floating point arithmetic.
