Package: libmpdec2
Source: mpdecimal
Version: 2.4.2-2
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 909
Depends: libc6 (>= 2.4)
Breaks: libmpdec2.3
Replaces: libmpdec2.3
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://www.bytereef.org/mpdecimal/index.html
Description: library for decimal floating point arithmetic (runtime library)
 mpdecimal is a package for correctly-rounded arbitrary precision decimal
 floating point arithmetic.
