Package: libmpdec-dev
Source: mpdecimal
Version: 2.4.2-2
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 9040
Depends: libmpdec2 (= 2.4.2-2)
Suggests: libmpdec-doc
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://www.bytereef.org/mpdecimal/index.html
Description: library for decimal floating point arithmetic (development files)
 mpdecimal is a package for correctly-rounded arbitrary precision decimal
 floating point arithmetic.
